@charset "UTF-8";
/*
* import of .scss styles ↓
*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #5e5373;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: #5e5373;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after, .header__burger::before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: '';
    top: 0;
  }
  .header__burger::after {
    content: '';
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 9px;
  }
}

@media (max-width: 767px) {
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
}

@media (max-width: 767px) {
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18b5a4;
    padding: 70px 20px 10px 20px;
    overflow: auto;
  }
}

.header__menu.active {
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header__link {
    font-size: 24px;
  }
}

.content {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .content {
    margin-top: 70px;
  }
}

.content__text {
  font-size: 16px;
  line-height: 20px;
}

.content__text p {
  margin: 0 0 20px 0;
}

/*
* import of fonts ↓
*/
/*
* styles ↓
*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conteiner {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
